-
  var siteName = "Yurii Trush CV"
  var nav = [
    {
      'title':'головна',
      'link':'/'
    },
    {
    'title':'контакти',
    'link':'/contacts.html'
    },
    'title':'Технології',
    'link':'/skils.html'
  ]